<%= form_tag( '/questions/form' , remote: true, method: 'post') do |f| %>
<h2>Please Choose What You Would Like To Achieve</h2>
    <%= label_tag "Feel Younger" %>
    <%= check_box_tag "drilldown[feel_younger]", "feel_younger" %>

    <%= label_tag "Better Endurance" %>
    <%= check_box_tag "drilldown[better_endurance]", "better_endurance" %>
    <div>
        <%= submit_tag 'Save' %>
    </div>
<% end %>