<%= form_tag( '/questions/form' , remote: true, method: 'post') do |f| %>
    <%= label_tag "How Many Hours Per Night Do You Sleep?" %>
    <%= select_tag "sleep_hours", options_for_select(1..24, 8) %>


    <%= label_tag "On A Scale from 1 to 10 Rate Your Quality Of Sleep" %>
    <%= select_tag "sleep_quality", options_for_select(1..10, 5) %>
    <div>
        <%= submit_tag 'Save' %>
    </div>
<% end %>