 
    <section class="section">
        <div class="container">
      <h1 class="title has-text-white">

       Please Answer The Following Questions

      </h1>
      <ul class="progressbar">
            <li class="active">Category</li>
            <li class="active">Drilldown</li>
            <li class="active">Questions</li>
            <li>Recommendation</li>
      </ul> 
        
<div class = "center-content">

<%= form_tag( '/questions/form' , remote: true, method: 'post') do |f| %>

  <div class = white-text-questions>

  <ul>
  <%
=begin%>
 #{question.drilldown_name} 
<%
=end%>
    <% @questions1.each do |question| %>
      <li>
        <%= label_tag "#{question.question}" %>
        <br>
        <br>
            <label  align ="left"><strong>DISAGREE</strong></label>
            <%= radio_button("questions","#{question.question}","1", id: "input1")  %>
 
            <%= radio_button("questions","#{question.question}","2", id: "input2")   %>
            
            <%= radio_button("questions","#{question.question}","3", id: "input3")  %>
            
            <%= radio_button("questions","#{question.question}","4", id: "input4")  %>
            
            <%= radio_button("questions","#{question.question}","5", id: "input5")  %>
           <label align = "right"><strong>AGREE</strong></label>
        
        <br>
        <br>
      </li>
    <% end %>
  </ul>
  </div>


<div class = white-text-questions>

  <ul>
    <% @questions2.each do |question| %>
      <li>
      <%= label_tag "#{question.question}" %>
      <br>
      <br>
            <label  align ="left"><strong>DISAGREE</strong></label>
            <%= radio_button("questions","#{question.question}","1", id: "input1")  %>
           
            <%= radio_button("questions","#{question.question}","2", id: "input2")   %>
            
            <%= radio_button("questions","#{question.question}","3", id: "input3")  %>
            
            <%= radio_button("questions","#{question.question}","4", id: "input4")  %>
            
            <%= radio_button("questions","#{question.question}","5", id: "input5")  %>
            <label  align ="left"><strong>AGREE</strong></label>
      <br>
      <br>
      </li>
    <% end %>
  </ul>
</div>


<div class = white-text-questions>

  <ul>    
    <% @questions3.each do |question| %>
      <li>       
        <%= label_tag "#{question.question}" %>
        <br>
        <br>
            <label  align ="left"><strong>DISAGREE</strong></label>
            <%= radio_button("questions","#{question.question}","1", id: "input1")  %>
           
            <%= radio_button("questions","#{question.question}","2", id: "input2")   %>
            
            <%= radio_button("questions","#{question.question}","3", id: "input3")  %>
            
            <%= radio_button("questions","#{question.question}","4", id: "input4")  %>
            
            <%= radio_button("questions","#{question.question}","5", id: "input5")  %>
            <label  align ="left"><strong>AGREE</strong></label>
        <br>
        <br>
      </li>
    <% end %>
  </ul>
</div>


<div class = white-text-questions>

  <ul>
    <% @questions4.each do |question| %>
      <li>
        <%= label_tag "#{question.question}" %>
        <br>
        <br>
        <label  align ="left"><strong>DISAGREE</strong></label>
            
            <%= radio_button("questions","#{question.question}","1", id: "input1")  %>
            
         
            <%= radio_button("questions","#{question.question}","2", id: "input2")   %>
            
            
            <%= radio_button("questions","#{question.question}","3", id: "input3")  %>
           
            
            <%= radio_button("questions","#{question.question}","4", id: "input4")  %>
            
            
            <%= radio_button("questions","#{question.question}","5", id: "input5")  %>
            <label  align ="left"><strong>AGREE</strong></label>
            
        <br>
        <br>
      </li>
    <% end %>
  </ul>
</div>


<br>

<div align="center">
   <button class="button is-link is-rounded">
        Next
    </button>
    
</div>
</div>
<% end%>

</div>
</div>
</section>



