
    <section class="section">
        <div class="container">
      <h1 class="title has-text-white">

       Please Answer The Following Questions

      </h1>
      <nav class="breadcrumb has-succeeds-separator is-large" aria-label="breadcrumbs">
        <ul>
          <li><a href="/category" >Category</a></li>
          <li ><a href="/drilldown" >Drilldown</a></li>
          <li class="is-active"><a href="/questions" aria-current="page">Questions</a></li>
          <li><a href="/recommendation">Recommendation</a></li>
        </ul>
      </nav>
      </div>
    </section>  


<%= form_tag( '/questions/form' , remote: true, method: 'post') do |f| %>

  <div class = white-text>
  <ul>
    <% @questions1.each do |question| %>
      <li>
        <%= label_tag "#{question.drilldown_name}:#{question.question}" %>
          <div class="slidecontainer">
            <%= range_field_tag "questions[#{question.question}]", options_for_select(1..10, 5),class: "slider", type: "range", id: "myRange", min: "1", max: "10" %>
              <p>Value: 
                <span id="demo">

                </span> 
          
                </p>
      
          </div>
        <br>
        <br>
      </li>
    <% end %>
  </ul>
  </div>

<div class = white-text>
  <ul>
    <% @questions2.each do |question| %>
      <li>
      <%= label_tag "#{question.drilldown_name}:#{question.question}" %>
      <div class="slidecontainer">
            <%= range_field_tag "questions[#{question.question}]", options_for_select(1..10, 5),class: "range", type: "range", id: "myRange", min: "1", max: "10" %>
              <p>Value: 
                <span id="demo">

                </span> 
          
                </p>
      
          </div>
      <br>
      <br>
      </li>
    <% end %>
  </ul>
</div>

<div class = white-text>
  <ul>    
    <% @questions3.each do |question| %>
      <li>       
        <%= label_tag "#{question.drilldown_name}:#{question.question}" %>
       <div class="slidecontainer">
            <%= range_field_tag "questions[#{question.question}]", options_for_select(1..10, 5),class: "slider", type: "range", id: "myRange", min: "1", max: "10" %>
              <p>Value: 
                <span id="demo">

                </span> 
          
                </p>
      
          </div>
        <br>
        <br>
      </li>
    <% end %>
  </ul>
</div>

<div class = white-text>
  <ul>
    <% @questions4.each do |question| %>
      <li>
        <%= label_tag "#{question.drilldown_name}:#{question.question}" %>
       <div class="slidecontainer">
            <%= range_field_tag "questions[#{question.question}]", options_for_select(1..10, 5),class: "slider", type: "range", id: "myRange", min: "1", max: "10" %>
              <p>Value: 
                <span id="demo">

                </span> 
          
                </p>
      
          </div>
        <br>
        <br>
      </li>
    <% end %>
  </ul>
</div>
</div>
   <button class="button is-link is-rounded is-large">
        Next
    </button>
<% end%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class ="container">
<div class="range">
  <input type="range" min="1" max="7" steps="1" value="1">
</div>


<ul class="range-labels">
  <li class="active selected">Today</li>
  <li>2 days</li>
  <li>3 days</li>
  <li>4 days</li>
  <li>5 days</li>
  <li>6 days</li>
  <li>7 days</li>
</ul>
</div>
<br>
<br>
<br>
<br>
<br>


<div class = "container">
<div class="range">
  <input type="range" min="1" max="7" steps="1" value="1">
</div>


<ul class="range-labels">
  <li class="active selected">Today</li>
  <li>2 days</li>
  <li>3 days</li>
  <li>4 days</li>
  <li>5 days</li>
  <li>6 days</li>
  <li>7 days</li>
</ul>
</div>


<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

<script>
var sheet = document.createElement('style'),  
  $rangeInput = $('.range input'),
  prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];

document.body.appendChild(sheet);

var getTrackStyle = function (el) {  
  var curVal = el.value,
      val = (curVal - 1) * 16.666666667,
      style = '';
  
  // Set active label
  $('.range-labels li').removeClass('active selected');
  
  var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');
  
  curLabel.addClass('active selected');
  curLabel.prevAll().addClass('selected');
  
  // Change background gradient
  for (var i = 0; i < prefs.length; i++) {
    style += '.range {background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #fff ' + val + '%, #fff 100%)}';
    style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #b2b2b2 ' + val + '%, #b2b2b2 100%)}';
  }

  return style;
}

$rangeInput.on('input', function () {
  sheet.textContent = getTrackStyle(this);
});

// Change input value on label click
$('.range-labels li').on('click', function () {
  var index = $(this).index();
  
  $rangeInput.val(index + 1).trigger('input');
  
});
</script>

