
    <section class="section">
        <div class="container">
      <h1 class="title">

       Please Answer The Following Questions

      </h1>
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/category" >Category</a></li>
          <li ><a href="/drilldown" >Drilldown</a></li>
          <li class="is-active"><a href="/questions" aria-current="page">Questions</a></li>
          <li><a href="/recommendation">Recommendation</a></li>
        </ul>
      </nav>
      </div>
    </section>

    <div class="container">
<%= form_tag( '/questions/form' , remote: true, method: 'post') do |f| %>
  <div class = "columns">
    <div class = "column">
      <ul>
        <% @questions1.each do |q| %>
          <li>
            <%= label_tag "#{q.drilldown_name}:#{q.question}" %>
            <%= select_tag "questions[#{q.question}]", options_for_select(1..10, 5) %>
            <br>
            <br>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "column">
      <ul>
        <% @questions2.each do |q| %>
          <li>
          <%= label_tag "#{q.drilldown_name}:#{q.question}" %>
          <%= select_tag "questions[#{q.question}]", options_for_select(1..10, 5) %>
          <br>
          <br>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "column">
      <ul>    
        <% @questions3.each do |q| %>
          <li>        
            <%= label_tag "#{q.drilldown_name}:#{q.question}" %>
            <%= select_tag "questions[#{q.question}]", options_for_select(1..10, 5) %>
            <br>
            <br>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "column">
      <ul>
        <% @questions4.each do |q| %>
        <li>
          <%= label_tag "#{q.drilldown_name}:#{q.question}" %>
          <%= select_tag "questions[#{q.question}]", options_for_select(1..10, 5) %>
          <br>
          <br>
        </li>
          <% end %>
      </ul>
    </div>
</div>
   <button class="button is-link">
        Save
    </button>
<% end %>

</div>
 
