
  <section class="section">
    <div class="container">
      <h1 class="title">
       Please Choose The Area You Would Like To Improve
      </h1>
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href="/category/index" aria-current="page">Category</a></li>
          <li><a href="/drilldown/index">Drilldown</a></li>
          <li><a href="/questions/index">Questions</a></li>
          <li><a href="/recommendation/index">Reccomendation</a></li>
        </ul>
      </nav>

      <h3 class="subtitle">
         Please choose only 4 options

      </h3>
    </div>
<br>

    <div class="container" >


<%= form_tag( '/category/form' , remote: true, method: 'post') do |f| %>

    <div class = "columns">
    <div class = "column">
    
    <ul>
    <% @columns1.each do |x| %>
    <li>
    <div id="check-button">
      <label>
         <%= check_box_tag x.name,x.id  %> 
          <span><%= x.name %></span>  
      </label>
     
      </div>
      
    </li>
    <% end %>
    </ul>
      </div>
    <div class = "column">
    <ul>
      <% @columns2.each do |x| %>
        <li>
          <div id="check-button">
            <label>
              <%= check_box_tag x.name,x.id %>
              <span><%= x.name %></span>  
            </label>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
    <div class = "column">
    <ul>
      <% @columns3.each do |x| %>
        <li>
          <div id="check-button">
            <label>
              <%= check_box_tag x.name,x.id %>
              <span><%= x.name %></span>  
            </label>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class = "column">
  <ul>
    <% @columns4.each do |x| %>
      <li>
        <div id="check-button">
            <label>
              <%= check_box_tag x.name,x.id %>
              <span><%= x.name %></span>  
            </label>
          </div>
      </li>
    <% end %>
  </ul>
</div>

  </div>
  <br>
  <button class="button is-link ">
      Save
  </button>
  </div>


<% end %>
  
