
<section class="section">
    <div class="container">
    
      <h1 class="title has-text-white">
       Please Choose The Area You Would Like To Improve
      </h1>
      <nav class="breadcrumb has-succeeds-separator is-large" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"> <a href="/category" aria-current="page">Category</a></li>
          <li><a href="/drilldown">Drilldown</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/recommendation">Recommendation</a></li>
        </ul>
      </nav>

      <h3 class="subtitle has-text-white">
         Please choose only 4 options
      </h3>   
<br>
<br>
<br>

<%= form_tag( '/category/form' , remote: true, method: 'post') do |f| %>

    <div class = "columns is-centered">
    <div class = "column">
    
    <ul>
    <% @columns1.each do |category| %>
    <li>
    <div id="check-button">
      <label>
         <%= check_box_tag "category[]", category.name  %> 
          <span><%= category.name %></span>  
      </label>
     
      </div>
      
    </li>
    <% end %>
    </ul>
      </div>
    <div class = "column">
    <ul>
      <% @columns2.each do |category| %>
        <li>
          <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
    <div class = "column">
    <ul>
      <% @columns3.each do |category| %>
        <li>
          <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class = "column">
  <ul>
    <% @columns4.each do |category| %>
      <li>
        <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
      </li>
    <% end %>
  </ul>
</div>
</div>

  
  <br>
  <button class="button is-link is-rounded">
      Next
  </button>


<% end %>
</div>


