
  <section class="section">
    <div class="container">
      <h1 class="title">
       Please Choose The Area You Would Like To Improve
      </h1>
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href="/category" aria-current="page">Category</a></li>
          <li><a href="/drilldown">Drilldown</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/recommendation">Recommendation</a></li>
        </ul>
      </nav>
    </div>
<br>

<div class="container" >
<%= form_tag( '/category/form' , remote: true, method: 'post') do |f| %>


<%# <div class="columns is-multiline is-gapless">
  <div class="column is-3">
    <p class= "notification is-primary">
      First column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-danger">
      Second column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification">
      Third column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-success">
      Fourth column
    </p>
  </div>
    <div class="column is-3">
    <p class= "notification is-info">
      First column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Second column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-danger">
      Third column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification">
      Fourth column
    </p>
  </div>
    <div class="column is-3">
    <p class= "notification is-success">
      First column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-info">
      Second column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Third column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Fourth column
    </p>
  </div>
    <div class="column is-3">
    <p class= "notification is-primary">
      First column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Second column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Third column
    </p>
  </div>
  <div class="column is-3">
    <p class= "notification is-primary">
      Fourth column
    </p>
  </div>
</div> %>

    <div class = "columns is-multiline is-mobile is-gapless">
    <div class = "column is-narrow">
    
    
    <% @columns1.each do |category| %>
  
    <div id="check-button">
      <label>
         <%= check_box_tag "category[]", category.name  %> 
          <span><%= category.name %></span>  
      </label>
      </div>

    

    <% end %>
    
      </div>
    <div class = "column is-narrow">
    
      <% @columns2.each do |category| %>
        
          <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
        
      <% end %>
    
    </div>
    <div class = "column is-narrow">
    
      <% @columns3.each do |category| %>
        
          <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
        
      <% end %>
    
  </div>
  <div class = "column is-narrow">
  
    <% @columns4.each do |category| %>
      
        <div id="check-button">
            <label>
              <%= check_box_tag "category[]", category.name %>
              <span><%= category.name %></span>  
            </label>
          </div>
      
    <% end %>
  
</div>

  </div>
  <br>
  <button class="button is-link ">
      Save
  </button>
  </div>
  </div>
<% end %>
  
