<%= form_tag( '/drilldown/form' , remote: true, method: 'post') do |f| %>
    <%= label_tag "Sleep better" %>
    <%= check_box_tag "drilldown[sleep_better]", "sleep_better" %>

    <%= label_tag "Better memory" %>
    <%= check_box_tag "drilldown[better_memory]", "better_memory" %>
    <div>
        <%= submit_tag 'Save' %>
    </div>
<% end %>