
   <h3 class="title is-3">Drilldown Admin Dashboard</h3>
  <%= form_with model: @drilldown_admin, local: true do |drilldown| %>
    <table class="table">
  <thead>
    <tr>
      <th><abbr title="ID">ID</abbr></th>
      <th><abbr title="Category Name">Category Name</abbr></th>
      <th><abbr title="Added By">Drilldown Name</abbr></th>
      <th>Options</th>
      <th>
        <div id="add-button">
          <button class="button is-success"><%= link_to "Add Category", new_drilldown_admin_path, id: 'link-color' %></button>
        </div>
      </th>

    </tr>
  </thead>
  <tbody>
  <% @drilldowns.each do |drilldown| %>
    <tr>
      <th><%= drilldown.id %></th>
      <td><%= drilldown.category_name %></td>
      <td><%= drilldown.drilldown_name %></td>
      <td> <button class="button is-primary"><%= link_to 'Edit', edit_drilldown_admin_path(drilldown), id: 'link-color'%></button>
      <button class="button is-danger"><%= link_to 'Destroy', drilldown_admin_index_path(drilldown),
              method: :delete,
              data: { confirm: 'Are you sure?' }, id: 'link-color' %></button>   
      </td>         
   </tr>
   <% end %>
  </tbody>
</table>
<% end %>
