<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
  <%= form_with model: @category_admin, local: true do |category_admin| %>
    <div id="add-button">
    
      <button class="button is-success"><%= link_to "Add Category", "new", id: 'link-color' %></button>
    </div>
    <table class="table">
  <thead>
    <tr>
      <th><abbr title="ID">ID</abbr></th>
      <th><abbr title="Category Name">Category Name</abbr></th>
      <th><abbr title="Added By">Added By</abbr></th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  <% @category_admins.each do |cat_admin| %>
    <tr>
      <th><%= cat_admin.id %></th>
      <td><%= cat_admin.name %></td>
      <td><%= cat_admin.added_by %></td>
      <td> <button class="button is-primary" onclick ="location.href ='@Url.Action( "edit" ,"category_admin") '"> Edit </button>
      <button class="button is-danger">Delete</button>   
      </td>      
   </tr>
   <% end %>
  </tbody>
</table>
<% end %>

</body>
</html>