<h1>Listing Drilldowns</h1>

<%= link_to 'New Drilldown', drilldown_admin_new_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Category Name</th>
    <th>Drilldown Name</th>
    <th></th>
  </tr>

  <% @drilldowns.each do |drilldown| %>
    <tr>
      <td><%= drilldown.id %></td>
      <td><%= drilldown.category_name %></td>
      <td><%= drilldown.drilldown_name %></td>
      <%# <!-- <td><%= link_to 'Show', article_path(article) %></td> %>
      <%# <!-- <td><%= link_to 'Edit', edit_article_path(article) %></td> --> --> %>
    </tr>
  <% end %>
</table>
